.input-answer-entire
  .input-answer-entire__inside

    .input-answer-entire__inside__entry
      .input-answer-entire__inside__entry__p 必要なエントリー数
      -@recruit_percent = @inputs.last.recruit_percent/100
      -@entry = @inputs.last.people_number/@recruit_percent
      .input-answer-entire__inside__entry__number
        =@entry.floor

    .input-answer-entire__inside__pv
      .input-answer-entire__inside__pv__p 必要なPV数
      -@pv = @entry.floor/@job.conversion*100
      .input-answer-entire__inside__pv__number
        =@pv.floor
        

    .input-answer-entire__inside__week-price
      %p.input-answer-entire__inside__week-price__p PV数をクリアする為に必要な掲載期間と掲載料金※以下のデータは効果を保証するものではございません
      
      
      -@plans.each do |plan|
        .input-answer-entire__inside__week-price__name
          =plan.name
        
        .input-answer-entire__inside__week-price__week
          -@week = @pv/plan.week_pv
          ="必要な掲載期間  #{@week.round}週間"

        .input-answer-entire__inside__week-price__price
          -@price = plan.week_price*@week
          ="掲載料金  #{plan.week_price*@week}円"
          
        .input-answer-entire__inside__week-price__cost
          ="採用単価#{@price/@inputs.last.people_number}円"