.input-answer-entire{
  height:1000px;
  width:100%;
  background:#66CCFF;
  &__inside{
    height:800px;
    width:80%;
    margin:auto;
    
    background:#66CCFF;
    &__entry{
      height:50px;
      width:50%;
    
    display:flex;
      &__p{
        width:50%;
       line-height: 50px;
       font-size:20px;
      

      }
      &__number{
        width:30%;
        line-height: 50px;
        font-size:20px;
       
      }
    }
    &__pv{
      
      height:50px;
      width:50%;
    display:flex;
    &__p{
      width:50%;
      line-height: 45px;
      font-size:20px;
      
    }
    &__number{
      width:30%;
        line-height: 45px;
        font-size:20px;
        
    }

  }


    &__week-price{
      
      height:800px;
      width:100%;
      margin-top:20px;
      &__name{
        
        font-size:30px;
      }
      &__week{
        
        font-size:20px;
        width:30%;
        float:left;
        display:inline-block
      }
      &__price{
        font-size:20px;
        width:30%;
        display:inline-block
        
      }
      
    }
}
}